<div id="calendar">
  <h1>Four Week View</h1>
<table id="cal">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <% (@calendar.begin_weekly_calendar..@calendar.end_weekly_calendar(4)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <p class="day"><%= d.day %></p>
          <ol>
            <% Chore.all.each do |e| %>
              <% if e.date_due == d %>
                <li> <%= e.title %></li>
              <% elsif e.schedule == "weekly" && e.date_due.wday == d.wday %>
                <li> <%= e.title %></li>
              <% end %>
            <% end %>
          </ol>
        </td>
      <% end %>
  </tr>
</table>
</div>
