
#cal table {
  margin: 0;
  width: 100%;
  border-color: gray;
}

#cal tbody {
  vertical-align: top;
}

#cal td {
  min-width: 125px;
}

#cal ul {
  width: 200px;
  margin:0;
  padding:0;
}

#cal th {
  vertical-align: top;
  padding: 10px;
  font-size: 30px;
  background: #008a80;

}

#cal tr {
  min-height: 200px;
  text-align: center;
}

#cal ol li {
  list-style:none;
  text-align: center
}

.day {
  padding-top: 0px;
  font-size: 15px;
}
